noResults: "nebyly nalezeny žádné výsledky"
numberOfResults: Počet záznamů
of: z
pageNavigation: Navigace stránkování
nextPage: Další stránka
previousPage: Předchozí stránka

toolbar: Nástroje datagridu
selection: Výběr záznamů
processSelection: Zpracovat vybrané záznamy
filter:
	actions: Akce filtru
	submit:
		label: Filtrovat
	cancel:
		label: Zrušit

itemsSelection:
	toolbar: Výběr položek
	count: Počet označených položek
	actions: Akce výběru položek
	submit:
		label: Pokračovat s vybranými položkami

adjust:
	columns: Nastavit sloupce
	toggle: "Vybrat / odznačit vše"
	form:
		columns:
			label: Aktivní sloupce
		save:
			label: Uložit
