noResults: "neboli nájdené žiadne výsledky"
numberOfResults: Počet záznamov
of: z
pageNavigation: Navigácia stránkovania
nextPage: Ďalšia stránka
previousPage: Predchádzajúca stránka

toolbar: Nástroje datagridu
selection: Výber záznamov
processSelection: Spracovať vybrané záznamy
filter:
	actions: Akcia filtra
	submit:
		label: Filtrovať
	cancel:
		label: Zrušiť

itemsSelection:
	toolbar: Výber položiek
	count: Počet označených položiek
	actions: Akcia výberu položiek
	submit:
		label: Pokračovať s vybranými položkami
		
adjust:
	columns: Nastaviť stĺpce
	toggle: "Vybrať / odznačiť všetko"
	form:
		columns:
			label: Aktívne stĺpce
		save:
			label: Uložiť
