{templateType Flexsyscz\Datagrids\DatagridControl\DatagridTemplate}

<div class="datagrid">
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	{include datagrid.table.latte}
</div>
