{templateType Flexsyscz\Datagrids\DatagridControl\DatagridTemplate}

<tfoot n:if="$paginator->itemCount">
    <tr class="table-warning">
        <td colspan="{count($columns)}">
            <small><strong>{_'!datagrid.numberOfResults'}:</strong> {$paginator->itemCount}</small>
        </td>
    </tr>
</tfoot>
